body {
    background: ghostwhite;
	padding: 5px;
}

.logo {
    margin: 20px;
}
.calk {
width: 33.33%;
padding: 10px;
margin-left: 200px;
text-align: left;



}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
	color: #fff; /* Цвет текста */
	background-color: #39b54a;
	
    width: 100%; /* Ширина слоя */
}

.hide {
	display: none;
}

button {
	width: 100%
}

.bookmark {
	 float: button; 
}

#list, li div {
	border: 1px solid;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }