body {
    background: ghostwhite;
}
.logo {
    margin: 20px;
}
.calk {
width: 33.33%;
padding: 10px;
margin-left: 200px;
text-align: left;



}

.bookmark {
	 float: button; 
}

#list, li div {
	border: 1px solid;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }