
Назад (accesskey b)    Зберегти (accesskey s)    	Файл: /css/caculator.css
Кодування символів:    	Стан: файл не збережений
body {
    background: ghostwhite;
}
.logo {
    margin: 20px;
}
.calk {
width: 33.33%;
padding: 10px;
margin-left: 200px;
text-align: left;



}

