body {
    background: ghostwhite;
    padding: 2.5%;
    
}

.table{
  height: 500px;
  overflow-y: scroll;
}

/* 
  class Input
  for error div
*/
.alert-danger{
  animation: alert_hide 3s;
  animation-delay: 3s;
}

@keyframes alert_hide{
  0%  {opacity: 1;}
  100%{opacity: 0;}
}