body {
    background: ghostwhite;
    padding: 2.5%;
    
}

.background {
    position: fixed; 
    top: 0; 
    left: 0; 
    opacity: 0.60;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

    z-index: -1;

    animation-name: bg_animation;
    animation-duration: 25s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes bg_animation {
    0%   {
        transform: translateY(0%);
        opacity: 0.55;
    }
  30%  {
        transform: translateY(-40%);
        opacity: 0.75;
    }
  35% {
      transform: translateY(-40%);
      opacity: 0.9;
  }
  50% {
        transform: translateY(-34.5%);
      }
  70% {
    transform: translateY(-40%);
    }
  75% {
    transform: translateY(-40%);
        opacity: 0.7;
    }
  100% {
    transform: translateY(0%);
        opacity: 0.60;
    }
  }

  .alert-danger{
    animation: alert_hide 3s;
    animation-delay: 3s;
  }

  @keyframes alert_hide{
    0%  {opacity: 1;}
    100%{opacity: 0;}
  }

  .table {
    overflow-x : auto;
    overflow-y : auto;
  }

  .table-visible{
    height: 300px;
  }